.timer{
    color: #004474;
    font-size:75px;
    font-weight: bold;
}
.timer-header{
    color: #002235;
    font-size: 35px;
    font-weight: bold;
}
.timer-box {
    text-align: center;
    border-radius: 6px;
    // padding: 10px;
    border: 2px solid #002237
}